.field_setting .iris-picker,.field_setting .iris-picker .iris-square-handle,.field_setting .wp-color-result{
	box-sizing:content-box !important;
}
#gaddon-setting-row-transaction_end_value{
	display: none;
}

/* Hide WYSIWYG editor for the valid workflow */

#config_token{
    display:block !important;
    visibility:visible !important
}

div#cke_config_token{
    display:none !important
}